@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,600;0,700;1,600&family=Inter:wght@500;600;700;900&family=Montserrat:ital,wght@0,500;1,500&family=Outfit:wght@500;600;900&family=Playfair+Display&family=Poppins:ital,wght@0,200;0,300;1,400&family=Righteous&family=Roboto&family=Rubik&display=swap");

.home {
  height: calc(100vh - 40px);
  position: relative;
  overflow: hidden;

  .sunbg {
    height: calc(50vh - 20px);
    overflow: hidden;
    position: relative;

    .sun {
      // background-color: rgb(255, 136, 24);
      height: 250px;
      width: 250px;
      border-radius: 50%;
      position: absolute;
      bottom: -140px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      filter: blur(1px);
    }
    .shadow {
      background-color: rgb(92, 56, 22);
      height: 270px;
      width: 360px;
      border-radius: 50%;
      position: absolute;
      bottom: -100px;
      left: 50%;
      transform: translateX(-50%);
      filter: blur(35px);
      }
  }

  .glarebg {
    height: calc(50vh - 20px);
    overflow: hidden;
    position: relative;
    background-image: url('stage1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: opacity(0.2) blur(1px);
    
    .glare {
      width: 300px;
      height: 200px;
      background-color: rgb(255, 123, 0);
      position: absolute;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
    filter: blur(60px) ;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    }

  }

  .elephantImg{
    position: absolute;
    top: -100px;
    right: 20%;
    z-index: 4;
    filter: brightness(90%);
  }
  .deerImg{
    position: absolute;
    top: 7%;
    right: 22%;
    z-index: 4;
    height: 80%;
    filter: brightness(90%) opacity(.9);
  }
  .birdImg{
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 4;
    height: 65%;
  }
  .texts{
    position: absolute;
    top: 20%;
    left: 15%;
    color: var(--primary-color);
    font-size: 5vh;
    width: 20%;

    h1{
      line-height: 3.8rem;
    }

    p{
        font-size: 13px;
        margin-top: 25px;
        font-family: "Roboto", sans-serif;
        line-height: 20px;
    }

  }
  .notes{
    position: absolute;
    top: 50%;
    right: 9%;
    color: rgb(165, 163, 163);
    font-family: "Roboto", sans-serif;
    text-align: center;

    hr{
        margin: .5rem;
    }
}
.fog{
  filter: opacity(0.5) brightness(55%);
  position: absolute;
  top: 39%;
  right: 17%;
  z-index: 5;
}
 .fog2{
  height: 200px;
  position: absolute;
  top: 70%;
  left: 0;
  filter: opacity(0.1) brightness(90%);
 }

 .animation-circle{
  width: 10px;
  height: 10px;
  background-color: transparent;
  
  border-radius: 50%;
  position: absolute;
  top: 49%;
  left: 49%;
  overflow: visible;
}

.leaf1{
  position: absolute;
  top: 5%;
  left: 5%;
  height: 100px;
  transform: rotate(-20deg);
  filter: opacity(.5);
}
.leaf2{
  position: absolute;
  top: 37%;
  left: 41%;
  transform: scaleX(-1);
  height: 100px;
  filter: brightness(15%) blur(1px);
  z-index: 8;
}
.leaf3{
  position: absolute;
  top: 70%;
  left: -3%;
  transform: scaleX(-1);
  height: 100px;
  filter: blur(3px);
  height: 25vh;
  transform: rotate(15deg);
}
.leaf4{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: scaleX(-1);
  filter: blur(2px);
  height: 10vh;
  transform: rotate(15deg);
}
.leaf5{
  position: absolute;
  top: 63%;
  right: 25%;
  height: 100px;
  filter: blur(0.7px);
  height: 25vh;
  transform: rotate(-55deg);
  z-index: 10;
}
.leaf6{
  position: absolute;
  top: 55%;
  right: 13%;
  height: 100px;
  height: 15vh;
  transform: rotate(55deg);
  z-index: -1;
}
.leaf7{
  position: absolute;
  top: 55%;
  right: -5%;
  height: 100px;
  height: 25vh;
  transform: rotate(-55deg);
  z-index: -1;
  filter: blur(3px);
}
}
